/*
CSS for Harry Potter spells web app, Carleton CS 257, Spring 2017
Patty Commins and Anna Meyer, 2017
Adapted from jeff-course-styles.css, available at
https://github.com/ondich/cs257_2017/blob/master/books/static/jeff-course-styles.css
*/

@import url('http://fonts.googleapis.com/css?family=Georgia|Cabin|Playfair Display');

#right {
  width: 40%;
  float: right;
  margin: 0em 0em 0em 0em;
  padding: 5px 5px 5px 5px;
}

#left {
  width: 40%;
  float: left;
  margin: 0em 0em 0em 0em;
  padding: 5px 5px 5px 5px;
}

#spells {
    width: 33%;
    height: 100%;
    float:left;
    clear:left;
}

#characters {
    width: 33%;
    height: 100%;
    float:left;
}

#books {
    width: 33%;
    height: 100%;
    float:left;
}

#course_header {
  width: 100%;
  margin: 0px;
  padding: 8px;
  background: #DDDDDD;
}

#assignment_header {
  width: 100%;
  margin: 0px;
  padding: 8px;
  background: #2929a3;
  color: #ffffff;
}

#course_resources {
  width: 28%;
  float: left;
  margin: 5px 0px 10px 0px;
  padding: 5px;
  background: #FAFAFA;
}

#course_content {
  width: 65%;
  float:right;
  margin: 5px 0px 10px 0px;
  padding: 5px 5px 5px 25px;
  background: #FAFAFA;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}

#search_bar {
  width: 50%;
  height:50%;
  float:left;
  margin: 0px;
  padding: 0em 0em 2em 0em;
}

#top_10 {
    width:50%;
    height:50%;
    float:left;
    margin: 0px;
    padding: 0em 0em 2em 0em;

    clear:right;
}


.sub {
    font-size: 80%;
    vertical-align: sub;
}

.sup {
    font-size: 80%;
    vertical-align: super;
}

div.code {
    font-family: 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', Monaco, Courier, monospace;
    white-space: pre;
    line-height: 1.2em;
    margin: 1em 0;
    padding: 0.5em 0 0.3em 2.0em;
    font-size: 100%;
    color: #000;
    overflow: auto;
}


body {
  background-color: #FAFAFA;
  color: #230000;
  line-height: 135%;
  font-family: 'Cabin', serif;
  font-size: 90%;
}

h1 {
  font-family: Cabin, serif;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  font-size: 160%;
  line-height: 1em;
}

h2 {
  font-family: 'Cabin', serif;
  font-weight: normal;
  margin: 0px;
  padding: 5px 0px 0px 0px;
  font-size: 140%;
  line-height: 1em;
}

h3 {
  font-family: 'Cabin', serif;
  font-weight: bold;
  margin: 0px;
  padding: 15px 0px 0px 0px;
  font-size: 120%;
  line-height: 1em;
}

#assignment_header h2 {
  font-size: 140%;
}

p {
  margin: 1.75ex 0ex 0ex 0ex;
}

ul {
  margin: 0ex;
  padding-left: 2.5em;
}

li {
  margin: 1ex 0ex 0ex 0ex;
}

a {
  color: #0B86B5;
  text-decoration: underline;
}

a:visited {
  /* color: #088488; */
  color: #770088;
  text-decoration: underline;
}

a:hover {
  background-color: #D8D8D8;
  text-decoration: none;
  cursor: pointer;
}

#assignment_header a:hover {
  background-color: #EEEEEE;
}

@media screen, projection, tv {
  body {
    margin: 5% 10% 10% 10%;
  }
}

@media print {
  body {
    font-size: 65%;
    margin: 0px;
    padding: 0px;
    background-color: #FAFAFA;
    color: #000000;
  }
}

@media screen and (min-width: 1000px) {
  body {
    width: 900px;
    margin: auto;
    margin-top: 50px;
  }
}

@media screen and (min-width: 650px) and (max-width: 850px) {
  body {
    margin: 6%;
  }
  h1 {
    font-size: 160%;
  }
}

@media screen and (max-width: 650px) {
  body {
    margin: 2% 2% 3em 2%;
  }
}

    Contact GitHub API Training Shop Blog About 

